<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand logo" href="/home"><span >CodeWR</span>.com</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/java-en">JAVA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/python-en">PYTHON</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/css-en">CSS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/javascript-en">JAVASCRIPT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/typescript-en">TYPESCRIPT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/android-en">ANDROID</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/flutter-en">FLUTTER</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        DATABASE
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/mysql-en">MYSQL</a>
        <a class="dropdown-item" href="/sql-server-en">SQL SERVER</a>
        <a class="dropdown-item" href="/oracle-en">ORACLE</a>
        <a class="dropdown-item" href="/postgresql-en">POSTGRESQL</a>
      </div>
    </li>
  </ul>
</nav>
