.item-language {
  background: #D9EEE1;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  height: 300px;
}

.item-language > h2, p {
  text-align: center;
}

.button-learn {
  bottom: 30px;
  position: absolute;
  right: 70px;
}
.container.css-main {
  padding: 15px;
  background-color: #eef;
}
